.cart-container {
    padding: 20px;
}

.cart-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.remove-button:hover {
    background-color: red;
    color: white;
}

.cart-summary {
    margin-top: 20px;
    text-align: center;
}
